video {
  background-image: url("img/video-unavailable.svg") no-repeat;
  background-position: center;
  background-color: transparent;
}

#original-video {
  display: none;
}

#overwrite-canvas {
  transform: scaleX(-1);
}

#control {
  margin-left: 1rem;
}